.footer-container {
    height          : 10vh;
    width           : auto;
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-direction  : row;
    background-color: var(--main-color-lg)
}

.footer--logo {
    height          : 5vh;
    width           : 5vh;
    margin          : 0 5vh;
    border-radius   : 50%;
    padding         : 0.1rem;
    background-color: var(--white-color-lg);
}

.footer--logo:hover {
    cursor    : pointer;
    box-shadow: 0 0 10px #ffffff;
}

.texto-footer-container {
    width          : 40vw;
    display        : flex;
    justify-content: center;
    color          : rgb(0, 0, 0);
    font-weight    : bolder;
}

.logo-footer-container {
    width          : 10vw;
    display        : flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .footer-container {
        flex-direction: column;
        overflow-y    : scroll;
        height        : 10vh;
    }

    .texto-footer-container {
        width  : 100vw;
        display: none;
    }

    .logo-footer-container {
        width: 100vw;
    }

}