.header-container {
    display         : flex;
    flex-direction  : row;
    height          : 10vh;
    width           : auto;
    background-color: var(--main-color-lg)
}

.header--logo {
    height          : 8vh;
    width           : 8vh;
    margin-right    : 1vw;
    margin-left     : 2vw;
    padding         : 0.1rem;
    margin-top      : auto;
    margin-bottom   : auto;
    background-color: white;
    border-radius   : 50%;
    border: 1px solid black;
}

.mariseta-logo-shirt{
    height: 100%;
    width: auto;
}