.header-container {
    display         : flex;
    flex-direction  : row;
    height          : 10vh;
    width           : auto;
    background-color: rgb(53, 15, 15);
}

.header--logo {
    height       : 8vh;
    width        : auto;
    margin-right : 2vw;
    margin-left  : 2vw;
    margin-top   : auto;
    margin-bottom: auto;
}

.header-container> p {
    color        : white;
    font-size    : large;
    margin-top   : auto;
    margin-bottom: auto;
}