.home-container {
    height          : 80vh;
    width           : auto;
    background-color: rgb(255, 255, 255);
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    overflow-y      : scroll;
    background-image: url("../assets/bgMarisetaLandscape.png");
    background-size : cover;

}

.catalogo-container {
    width         : 60vw;
    height        : 80vh;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding: 0.5rem 0;
}

@media (max-width: 800px) {

    .catalogo-container {
        width: 80vw;
    }

    .home-container {
        background-image: url("../assets/bgMarisetaPortrait.png");
        background-size: cover;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .home-container {
        background-image: url("../assets/bgMarisetaLandscape.png");
    }
}