.home-container {
    height          : 80vh;
    width           : auto;
    background-color: rgb(255, 255, 255);
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
}

.home-side {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 20vw;
    height         : 80vh;
}

.catalogo-container {
    width         : 60vw;
    height        : 80vh;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    overflow-y    : scroll;
}

.mobileLottieContainer{
display: none;
}

.catalogowpp,
.catalogoNavidad,
.catalogoDamas13500,
.catalogoDamas16500,
.catalogoDamas14500,
.catalogoDamas19000,
.catalogoCaballero19000,
.catalogoNinos {
    height         : 10vh;
    width          : 30vw;
    border-radius  : 10px;
    box-shadow     : 0 0 10px #0707071a;
    border         : rgb(0, 0, 0) 1.5px solid;
    align-items    : center;
    display        : flex;
    justify-content: center;
    padding        : 0.5rem;
    margin         : 2vh 0;
}

.catalogowpp {
    background-color: var(--catalogo-wpp);
}

.catalogoNavidad {
    background-color: var(--catalogo-navidad);
}

.catalogoDamas13500 {
    background-color: var(--catalogo-damas-13500);
}

.catalogoDamas16500 {
    background-color: var(--catalogo-damas-16500);
}

.catalogoDamas14500 {
    background-color: var(--catalogo-damas-14500);
}

.catalogoDamas19000 {
    background-color: var(--catalogo-damas-19000);
}

.catalogoCaballero19000 {
    background-color: var(--catalogo-caballero-19000);
}

.catalogoNinos {
    background-color: var(--catalogo-ninos);
}

.catalogowpp,
.catalogoNavidad,
.catalogoDamas13500,
.catalogoDamas16500,
.catalogoDamas14500,
.catalogoDamas19000,
.catalogoCaballero19000,
.catalogoNinos:hover {
    cursor    : pointer;
    box-shadow: 0 0 10px #000000;
}

.catalogo-a {
    color              : rgb(250, 250, 250);
    font-size          : large;
    text-decoration    : none;
    font-weight        : bolder;
    text-align         : center;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .home-side {
        display: none;
    }

    .catalogo-container {

        width: 80vw;
    }

    .catalogowpp,
    .catalogoNavidad,
    .catalogoDamas13500,
    .catalogoDamas16500,
    .catalogoDamas14500,
    .catalogoDamas19000,
    .catalogoCaballero19000,
    .catalogoNinos {
        width: 90%;
    }

    .mobileLottieContainer{
        display: block;
    }
}