body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color-lg           : #e1cec0;
  --white-color-lg          : #eeeeee;
  --catalogo-wpp: rgb(1, 136, 8);
  --catalogo-navidad        : #ab4842;
  --catalogo-damas-13500    : #e1cbbe;
  --catalogo-damas-16500    : #c8c5e2;
  --catalogo-damas-14500    : #f9dcd4;
  --catalogo-damas-19000    : #ffcc29;
  --catalogo-caballero-19000: #57a695;
  --catalogo-ninos          : #bb8900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin : 0px;
}